<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <h3>CONTACT US</h3>
                <div class="email">
                    <p>Website assistance:</p>
                    <a href="mailto:support@yopmail.com">support@yopmail.com</a>
                </div>
                <div class="email">
                    <p>Drop us a note:</p>
                    <a href="mailto:hello@yopmail.com">hello@yopmail.com</a>
                </div>
            </div>
            <div class="col-sm-4 col-md-5">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>COMPANY</h3>
                        <ul class="footer-nav">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">FAQ’s</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h3>POLICIES</h3>
                        <ul class="footer-nav">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Return Policy</a></li>
                            <li><a href="#">Terms of Service</a></li> 
                        </ul>
                    </div>
                </div>
            </div> 
            <div class="col-sm-4 joinMailing">
                <h3>JOIN OUR MAILING LIST</h3>
                <p>For updates & important information</p>
                <div class="subscribe-form">
                    <input type="text" class="form-control" placeholder="email adress" />
                      <button class="btn btn-sm btn-white">subscribe</button>
                </div>
                <ul class="social-icons">
                    <li><a href="#"><img src="/assets/images/facebook.svg" /></a></li>
                    <li><a href="#"><img src="/assets/images/youtube.svg" /></a></li>
                    <li><a href="#"><img src="/assets/images/instagram.svg" /></a></li>
                </ul> 
            </div>
        </div>

        <!-- Copyright Text -->
        <div class="copyrightText">
            © 2021 Dummyproject. All Right Reserve
        </div>
        <!-- //Copyright Text -->
    </div>
</footer>