<div class="home-banner">
    <!-- Search Section --> 
<div class="container search-section">
    <h2>Clinical Trials For You</h2>
    <p>Get paid <span class="text-green font-600">$1,000’s</span> to participate in health studies</p>
</div>  

<!-- Start Earning section -->
<div class="container px-xs-0">
    <div class="earning-section">
        <div class="image">
            <img src="/assets/images/earning.jpg" class="img-fluid" alt="" />
        </div>
        <div class="detail">
            <h3>Start Earning!</h3>
            <p>Sign up today to start being matched with <span class="text-green d-block">high paying clinical trials paying an average of $1,000!</span></p>
            <button class="btn btn-primary btn-block mt-4" (click)="signup()">Sign up</button>
        </div>
    </div>
</div>

</div>
<!-- Service Section -->
<div class="service-section">
    <div class="container">
        <div class="title">
            <h2>We offer Special Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="service-items">
                    <div class="icon"><img src="/assets/images/dollor.svg" alt="" /></div>
                    <h4>High Paying Trials</h4>
                    <p>We link you with some of the highest paying clinical trials in the market.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-items">
                    <div class="icon greenshade"><img src="/assets/images/treatment.svg" alt="" /></div>
                    <h4>Free Health Treatments</h4>
                    <p>Be the first to trial new and potentially life-saving treatments at no cost.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-items">
                    <div class="icon redshade"><span><img src="/assets/images/savelife.svg" alt="" /></span></div>
                    <h4>Save Lives</h4>
                    <p>Your participation in clinical trials help advance healthcare for all of humanity!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popular Trials Section -->
<div class="populartrial-section">
    <div class="container">
        <div class="title">
            <h2>Popular Trials</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="populartrial-items">
                    <div class="image"><img src="/assets/images/vacination.jpg" alt="" /></div>
                    <div class="detail d-flex align-items-center">
                        Covid-19 Vaccine
                        <div class="price ml-auto">$800</div>
                    </div> 
                </div>
            </div>
            <div class="col-sm-4">
                <div class="populartrial-items">
                    <div class="image"><img src="/assets/images/diabetes.jpg" alt="" /></div>
                    <div class="detail d-flex align-items-center">
                        Diabetes
                        <div class="price ml-auto">$800</div>
                    </div> 
                </div>
            </div>
            <div class="col-sm-4">
                <div class="populartrial-items">
                    <div class="image"><img src="/assets/images/endometriosis.jpg" alt="" /></div>
                    <div class="detail d-flex align-items-center">
                        Endometriosis
                        <div class="price ml-auto">$800</div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start Earning Section -->
<div class="startearning-section">
    <div class="container"> 
        <div class="title">
            <h2>Start Earning!</h2>
            <p>Sign up today to start being matched with <span class="text-green d-block font-500">high paying clinical trials paying an average of $1,000!</span></p>
        </div>
        
        <div class="startearning-form">
            <div class="form-group">
            <mat-form-field class="input-control" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="input-control" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput >
                  </mat-form-field>
            </div>
            <div class="form-button">
                <button class="btn btn-primary btn-block">Sign up</button>
            </div>
        </div>
    </div>
</div>